
@import "http://fonts.googleapis.com/css?family=Raleway";
body{
font-family:'Raleway',sans-serif;
background-color: aliceblue;
}
img#logo{
margin-left:90px
}
.card-title{
    text-align: center;
    font-size: x-large;
    font-family: calibri;
    color: midnightblue;
}
.btnfamily{
    color: white;
    font-size: x-large;
    font-family: -webkit-pictograph;
    font-weight: bold;
    background-color: black;
    align-items: center;
    margin-left: 19%;
    width: 30%;
}
.btnfamily2{
    color: white;
    font-size: x-large;
    font-family: -webkit-pictograph;
    font-weight: bold;
    background-color: black;
    width: 30%;
    
}
div#first{
width: 600px;;
height:auto;
margin:50px auto 0;
padding:50px;
background-color: #a8e0dd;

color:#333;
/* border:2px solid #C2D6FF;
border-radius: 40px 40px 40px 40px; */
}
.first2{
    width: 600px;
    height:auto;
    margin:50px auto 0;
    padding:50px;
    background-color:#EEE;
    color:#333;
    border:2px solid #C2D6FF;
    border-radius:40px 0 40px 0
    }
label{
font-size:15px;
font-weight:700
}
input#fname{
background-repeat:no-repeat;
background-position:6px;
border:1px solid #DADADA;
margin-top: 3px;
    margin-bottom: 20px;   
padding-left:10px;
width:410px;
height:30px;
font-size:14px;
box-shadow:0 0 10px;
-webkit-box-shadow:0 0 10px;
/* For I.E */
-moz-box-shadow:0 0 10px;
/* For Mozilla Web Browser */
border-radius:5px;
-webkit-border-radius:5px;
/* For I.E */
-moz-border-radius:5px
/* For Mozilla Web Browser */
}
input#email{
/* background-image:url(../images/email.png); */
background-repeat:no-repeat;
background-position:6px;
border:1px solid #DADADA;
margin-top:10px;
margin-bottom:10px;
padding-left:35px;
width:310px;
height:30px;
font-size:14px;
box-shadow:0 0 10px;
-webkit-box-shadow:0 0 10px;
/* For I.E */
-moz-box-shadow:0 0 10px;
/* For Mozilla Web Browser */
border-radius:5px;
-webkit-border-radius:5px;
/* For I.E */
-moz-border-radius:5px
/* For Mozilla Web Browser */
}
input#contact{
/* background-image:url(../images/mobile.png); */
background-repeat:no-repeat;
background-position:6px;
border:1px solid #DADADA;
margin-top:10px;
margin-bottom:10px;
padding-left:35px;
width:310px;
height:30px;
font-size:14px;
box-shadow:0 0 10px;
-webkit-box-shadow:0 0 10px;
/* For I.E */
-moz-box-shadow:0 0 10px;
/* For Mozilla Web Browser */
border-radius:5px;
-webkit-border-radius:5px;
/* For I.E */
-moz-border-radius:5px
/* For Mozilla Web Browser */
}
input#address{
background-image:url(../images/home.png);
background-repeat:no-repeat;
background-position:6px;
border:1px solid #DADADA;
margin-top:10px;
margin-bottom:10px;
padding-left:35px;
width:310px;
height:30px;
font-size:14px;
box-shadow:0 0 10px;
-webkit-box-shadow:0 0 10px;
/* For I.E */
-moz-box-shadow:0 0 10px;
/* For Mozilla Web Browser */
border-radius:5px;
-webkit-border-radius:5px;
/* For I.E */
-moz-border-radius:5px
/* For Mozilla Web Browser */
}
input#submit {
background-color:#cc7a66;
border-radius:5px;
border:none;
padding:10px 25px;
color:#FFF;
text-shadow:1px 1px 1px #949494;
margin-left:120px
}
input#submit:hover{
background-color:#FF9980
}
